        <form id="form" action="">
            <button id="submitButton" onclick="buttonClicked()">Send</button>
            <input type="text" id="textInput" name="textInput" />
        </form>
        <br />
        <script src="/socket.io/socket.io.js"></script>
        <script>
            var socket = io.connect();

            $("#textInput").keydown(function (event) {
                if (event.keyCode == 13) {
                    event.preventDefault();
                    buttonClicked();
                }
            });

            function buttonClicked() {
                if ($("#textInput").val()) {
                    socket.emit("clicked", $("#textInput").val());
                    $("#textInput").val("")
                }
            }

            socket.on("message", function (data) {
                console.log(data);
            });
        </script>