<form action="">
    <input type="text" id="textInput" name="textInput" value="USERNAME"/>
    <input type="text" id="textInput" name="textInput" value="PASSWORD"/>
    <button>LOGIN</button>
    <button>SIGN UP</button>
</form>