<html>
    <head>
        <title>Socket.io Demo</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="../../public/css/styles.css" />
        <script
            type="text/javascript"
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"
        ></script>
    </head>
    <body><div>
        <div class="text-center">
            <div>{{> input_window}}</div>
            <div>{{> chat_window}}</div>
        </div>
    </body>
</html>