body { margin: 0; padding-bottom: 3rem; font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif; }

#form { background: rgba(130,161,209, 0.5); padding: 0.25rem; position: fixed; bottom: 0; left: 21.58dvw; right: 0; display: flex; height: 3rem; box-sizing: border-box; backdrop-filter: blur(10px); }
#textInput { border: none; padding: 0 1rem; flex-grow: 1; border-radius: 2rem; margin: 0.25rem; }
#textInput:focus { outline: none; }
#form > button { 
  background: #82A1D1; border: none; padding: 0 1rem; margin: 0.25rem; border-radius: 3px; outline: none; color: #fff; 
}

#form > button:hover {
  background: #5572B2
}

#messages { list-style-type: none; margin: 0; padding: 0; }
#messages > li { padding: 0.5rem 1rem; }
#messages > li:nth-child(odd) { background: #efefef; }

#sidebar { 
  margin-right: 20px;
  padding: 20px;
  clear: both;
  float: left;
  width: 20%;
  height: 96.9dvh;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #82A1D1;
}

#sidebar > button {
  background: #82A1D1;
  width: 90%;
  height: 5rem;
  border-radius: 5px;
  display: flex;
  height: 3rem;
  margin: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  text-align: center;
}

#chatList { list-style-type: none; margin: 0; padding: 0;}
#chatList > li { padding: 0.5rem 1rem; }
#chatList > li:nth-child(odd) { background: #efefef; }